{% extends 'blank.html' %}
{% block title %}
    学生注册页面
{% endblock %}
{% block tit %}
    信息登记表
{% endblock %}

{% block content %}
    <div class="p-5">
        <form method="post" >
            {{ studentForm.csrf_token }}
        <div>
            {{studentForm.name }}
            <input type="hidden" name="id" value="{{ id }}">
            <br>
        </div>
        <div>
            {{ studentForm.age }}
            <br>
        </div>
        <div>
            {{ studentForm.gender }}
            <br>
        </div>
            <div>
            <select class="form-control "  name="course" >
                {% for course in course_list %}
                        <option value="{{ course.id }}">{{ course.label }}</option>
                {% endfor %}
            </select>
                <br>
            </div>
        <div>
            <input class="btn btn-danger  btn-block" type="submit" value="提交">
            <br>
        </div>

        </form>
    </div>
{% endblock %}