{% extends 'blank.html' %}
{% block title %}
    课程的修改页面
{% endblock %}
{% block style %}
    <link href="/static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
{% endblock %}
{% block tit %}
课程修改
{% endblock %}
{% block content %}
     <div class="card shadow mb-4">
            <div class="card-body">
              <div class="table-responsive">
          <form method="post" class="user">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>课程名:</th>
                    </tr>
                     <tr>
                      <th>
                          <input type="text" class="form-control " id="label" name="label" value="{{ course.label }}" >
                      </th>
                    </tr>
                    <tr>
                        <th>课程描述:</th>
                    </tr>
                   <tr>
                       <th>
                       <input type="text" class="form-control " id="description" name="description" value="{{ course.description }}" >
                       <input type="hidden" name="id" value="{{ course.id }}">
                       </th>
                    </tr>
                    <br>
                  <tr>
                      <th>
                          <input type="submit" class="btn btn-outline-danger  btn-block" value="修改">
                      </th>
                    </tr>
              </thead>
               </table>
            </form>
              </div>
            </div>
          </div>
{% endblock %}