{% extends 'blank.html' %}
{% block title %}
    学生信息页面
{% endblock %}
{% block style %}
    <link href="/FlaskDirtory/static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
{% endblock %}
{% block tit %}学生信息表{% endblock %}
{% block content %}
 <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>姓名</th>
                      <th>年龄</th>
                      <th>性别</th>
                      <th>操作</th>
                    </tr>
                  </thead>
                  <tfoot>
                  {% for foo in students %}
                    <tr>
                      <th>{{ foo.name }}</th>
                      <th>{{ foo.age }}</th>
                      <th>{{ foo.gender }}</th>
                      <th><a href="#">开除</a></th>
                    </tr>
                  {% endfor %}
                  </tfoot>
                </table>
              </div>
            </div>
{% endblock %}